@import "tailwindcss";

body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;             /* Prevents white box from appearing */
}

.nav-link {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-link::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;                   
  width: 0;
  height: 2px;
  background: #31D978;
  transition: all 0.4s ease;
  transform: translateX(-50%);
}

.nav-link:hover::before {
  width: 100%;                  
  left: 0;
  transform: translateX(0);
}

.nav-link:hover {
  color: #31D978;
}
.social-logo:hover{
  opacity: 0.7;
}
.aboutBtn:hover{
  opacity: 0.7;
}